/**********************************************************************************************************************
 * 
 *      autor: Robert Zabrocki
 *      data: listopad 2021
 * 
 *      opis: modyfikacja stylu selektora <body>.
 * 
***********************************************************************************************************************/
        body {
            background-color: #e6e6e6;
        }


/**********************************************************************************************************************
 * 
 *      autor: Robert Zabrocki
 *      data: listopad 2021
 * 
 *      opis: modyfikacja stylu wszystkich selektorów klasy "grid".
 * 
***********************************************************************************************************************/
        .grid {
            width: 400px;
            height: 300px;
            border: 1px solid black;
        }